/*css reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
p {
    font: normal 13.2px 'Oxygen', sans-serif;
    line-height: 170%;
}
h2 {
    margin: 20px 0;
    font: bold 15px 'Oxygen', sans-serif;
    color: #777;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td.right {
    text-align: right;
}
th.right {
    text-align: right;
    border-bottom: 1px solid #DDD;
}
td.left {
    padding-left: 10px;
    text-align: left;
}
table.order-details {
    /*width: 800px;*/
}
.order-details td,
.order-details th {
    border-bottom: 1px solid #EEE;
}
td .order-products {
    margin-bottom: 5px;
}
.transaction-log {
    margin: 20px 0;
}
.transaction-log h3 {
    margin-bottom: 15px;
    font: bold 12px 'Oxygen', sans-serif;
    color: #666;
}
div.ipn-req {
    width: 170px;
    max-height: 70px;
    padding: 7px;
    overflow: auto;
    border: 1px solid #EEE;
    font: normal 12px 'Oxygen', sans-serif;
}

/*lighbox effects*/

body:after {
  content: url(../images/lightbox/close.png) url(../images/lightbox/loading.gif) url(../images/lightbox/prev.png) url(../images/lightbox/next.png);
  display: none;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  padding: 4px;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/lightbox/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../images/lightbox/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../images/lightbox/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  font: normal 12px 'Oxygen', sans-serif;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/lightbox/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/*end of lighbox effects*/

/*common rules*/
body {
    background-color: #FFF;
}
a {
    text-decoration: none;
    color: #3B3B3B;
    font: normal 13.3px 'Oxygen', sans-serif;
}
.clear {
    display: block;
    clear: both;
}
.spacer {
    margin: 40px 0;
}
.visible {
    display: block !important;
    visibility: visible !important;
}
img {
    border: none;
}
h1 {
    margin: 20px 0;
    font: normal 25px 'Oxygen', sans-serif;
    color: #666;
}
input[type="text"],
textarea {
    font: normal 13px 'Oxygen', sans-serif;
    color: #222;
}
textarea {
    line-height: 150%;
}
.error-404 h1 {
    margin-top: 200px;
    text-align: center;
}
input[type="text"].large,
textarea.large {
    width: 700px;
}
textarea.large {
    height: 70px;
}
textarea.xlarge {
    width: 700px;
    height: 280px;
}
.form .col-1 input[type="text"] {
    width: 100px;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 14px 'Oxygen', sans-serif;
}
td, th {
    color: #555;
    padding: 7px;
    border-bottom: 1px solid #DDD;
}
th {
    border-bottom: 2px solid #DDD;
    font: bold 12px 'Oxygen', sans-serif;
    text-align: left;
}
tr:hover {
    background-color: #F5F5F5;
}
td a {
    color: #961313;
}


/*container styles*/

.container {
    width: 960px;
    margin: 0 auto;
}
.wrapper {
    min-width: 1000px;
}
.top-header {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 35px;
    background: transparent url('../images/top_header.png') 0 0 repeat-x;
}
.top-header-links {
    float: right;
}
.top-header-links .currencies {
    position: relative;
    top:-1px;
    font: normal 8.41px 'Oxygen', sans-serif;
    padding: 0px 20px 0px 5px;
    background: #FFF url('../images/currency-switch.png') right center no-repeat;
}
.custom-views {
    min-height: 300px;
    margin-bottom: 40px;
}
.currencies .active-currency {
    display: inline-block;
    color: #747474;
    font: normal 8.41px 'Oxygen', sans-serif;
}
.top-header-links .currencies:hover > ul.dropdown {
    display: block;
}
.top-header-links .dropdown {
    position: absolute;
    display: none;
    top: 10px;
    width: 100%;
    right: 0;
    background-color: #FFF;
}
.top-header-links .dropdown li {
    display: block;
    margin: 0;
    padding: 5px;
    text-align: left;
}
.top-header-links .dropdown li.last {
    padding-top: 0;
}
.top-header-links .dropdown li a {
    font-size: 10px;
    font-weight: bold;
    color: #747474;
}
.logo-header {
    height: 60px;
    margin-bottom: 27px;
    padding-top: 60px;
    background-color: #c32929;
}

.top-header-links ul {
    text-align: right;
}
.top-header-links li {
    display: inline-block;
    padding-top: 10px;
    margin-left: 17px;
    color: #FFF;
}
.top-header-links li,
.top-header-links li a {
    font: bold 12px 'Oxygen', sans-serif;
    color: #FFF;
}
.top-header-links li {
    font-weight: normal;
    font-size: 13px;
}

.logo {
    width: 252px;
    float: left;
    margin-right: 25px;
}
.logo img {
    border: none;
}
.search {
    width: 530px;
    margin-right: 30px;
    float: left;
}
input[type="text"].search-box {
    width: 411px;
    height: 13px;
    overflow: visible;
    padding: 9px 18px;
    margin: 0 8px 0 0;
    border: 1px solid #A5A5A5;
    border-radius: 0;
    outline: none;
    font: bold 11.77px 'Oxygen', sans-serif;
    text-transform: uppercase;
    color: #111;
}
.search-btn {
    width: 64px;
    height: 33px;
    padding: 0;
    background: #961313 url('../images/search-btn.png') center center no-repeat;
    border: none;
    outline: none;
    text-indent: -9999px;
}
.social-links {
    width: 122px;
    padding-top: 10px;
    float: right;
}
.social-links li {
    display: inline-block;
}
.social-links li a {
    display: block;
    height: 17px;
    margin-left: 5px;
    text-indent: -9999px;
}
.social-links li .google {
    width: 17px;
    background: transparent url('../images/social-icons.png') 0 0 no-repeat;
}
.social-links li .fb {
    width: 10px;
    background: transparent url('../images/social-icons.png') -28px 0 no-repeat;
}
.social-links li .twitter {
    width: 16px;
    background: transparent url('../images/social-icons.png') -52px 0 no-repeat;
}
.social-links li .yt {
    width: 43px;
    background: transparent url('../images/social-icons.png') -80px 0 no-repeat;
}

/*main nav styles*/

.nav {
    background-color: #b2b2b2;
    font-size: 0;
}
.nav .active {
    background-color: #c32929;
}
.nav li {
    display: inline-block;
    border-right: 1px solid #FFFFFF;
}
.nav li:last-child {
    border-right: none;
}
.nav a {
    display: inline-block;
    padding: 9px 30px;
    text-transform: uppercase;
    text-align: center;
    font: bold 12px 'Oxygen', sans-serif;
    color: #FFF;
}
.nav a:hover {
    background-color: #c32929;
}

/*admin menu*/

.admin-menu {
    position: relative;
}
.admin-links {
    min-width: 170px;
    position: absolute;
    top: 35px;
    left: -30px;
    display: none;
    border-radius: 0 0 5px 5px;
    background: transparent url('../images/top_header.png');
}
.admin-links li {
    display: block;
    margin: 0;
    padding: 12px 15px 0 15px;
    text-align: left;
}
.admin-links li.last {
    padding-bottom: 15px;
}
.admin-links li a {
    display: block;
    color: #FFF;
}

/*offer styles*/

.offer {
    margin: 30px 0;
    height: 133px;
    background-color: #020202;
}
.offer-book {
    min-height: 133px;
    max-height: 133px;
}
.offer-img {
    width: 660px;
    text-align: center;
    float: left;
}
.offer-desc {
    width: 230px;
    padding-right: 70px;
    float: left;
}
.offer-desc p {
    padding: 15px 0;
    margin: 0;
    font: bold 13px 'Oxygen', sans-serif;
    color: #FEFEFE;
}
.promo-link {
    font: bold italic 14px 'Oxygen', sans-serif;
    color: #FEFEFE;
}

/*slideshow styles*/
.slide {
    position: relative;
    float: left;
    width: 773px;
    height: 339px;
    margin: 0 12px 25px 0;
    border: 1px solid #F7F6F6;
    background-color: #020202;
    background-repeat: no-repeat;
    background-size: cover;
}
.slide a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    /*visibility: hidden;*/
}
#slideshow {
    width: 775px;
    height: 330px;
    overflow: hidden;
    float: left;
}
#slides-nav {
    width: 171px;
    float: right;
}
#slides-nav li {
    height: 77px;
    text-align: center;
    margin-bottom: 5px;
    border: 1px solid #EEE;
    background-color: #020202;
}
#slides-nav li a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
#slides-nav li a div {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
}
#slides-nav .activeSlide {
    position: relative;
}
#slides-nav li.activeSlide a div:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: rgba(0,0,0,0.35);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
#slides-nav .activeSlide:after {
    content: " ";
    position: absolute;
    height: 0;
    width: 0;
    margin-top: -7px;
    right: 100%;
    top: 50%;
    border: solid transparent;
    border-color: rgba(61, 62, 62, 0);
    border-right-color: #3D3E3E;
    border-width: 7px;
}


/*our books section*/

.sub-header {
    margin-bottom: 22px;
    font: normal 18.05px Tahoma, sans-serif;
    text-transform: uppercase;
    color: #1A1A1A;
}
.sub-header.our-product {
    margin-top: 20px;
}
.our-books {
    margin-bottom: 40px;
}
.our-books .item {
    width: 78px;
    height: 116px;
    border: 1px solid #DDD;
    text-align: center;
}
.our-books .our-product {
    width: 80px;
    float: left;
    margin-right: 30px;
}
.our-product.last {
    margin-right: 0;
}
.our-books .item img {
    max-width: 78px;
    max-height: 114px;
}
.our-books .item.last {
    margin-right: 0;
}
.our-product-info {
    margin-top: 10px;
    text-align: center;
}
.our-product-title {
    margin-bottom: 6px;
}
.our-product-price {
    font: normal 12px 'Oxygen', sans-serif;
    text-align: center;
    color: #961313;
}
.our-product-savings {
    margin-top: 6px;
    color: green;
}

/*footer*/

.footer-headers {
    height: 44px;
    padding: 2px 0 3px 0;
    margin-bottom: 20px;
    border-top: 1px solid #BEBEBE;
    border-bottom: 1px solid #BEBEBE;
}
.footer-headers .col.payment {
    padding-top: 12px;
}
.footer-headers .col {
    float: left;
    font: normal 18px 'Oxygen', sans-serif;
    text-align: left;
    text-transform: uppercase;
    color: #222222;
}
.footer-menus {
    margin-bottom: 16px;
}
.footer-menus li a {
    font: normal 11px 'Oxygen', sans-serif;
    text-transform: uppercase;
    color: #616161;
}
.footer-menus .col {
    float: left;
}
.footer-links .col-1 {
    width: 218px;
}
.footer-links .col-2 {
    width: 293px;
}
.footer-links .col-3 {
    width: 195px;
}
.footer-links .col-4 {
    width: 110px;
}
.footer-menus .col.social-media li {
    margin-bottom: 15px;
}
.footer-menus .col.social-media li.last {
    margin-bottom: 0;
}
.footer-menus .col.cx-service li {
    margin-bottom: 3px;
}
.footer-menus .col.cx-service li.last {
    margin-bottom: 0;
}
.footer {
    height: 25px;
    border-top: 1px solid #BEBEBE;
    background-color: #961313;
}
.footer .container {
    padding-top: 8px;
    text-align: right;
    font: normal 9px 'Oxygen', sans-serif;
    color: #F1F1F1;
}

/*form styles*/

.form,
.form p {
    font: normal 13px 'Oxygen', sans-serif;
    color: #666;
}
.form .col-1 {
    float: left;
    width: 120px;
    margin-right: 20px;
}
.form li {
    margin-bottom: 20px;
}
input[type="text"],
input[type="password"],
textarea {
    width: 300px;
    margin: 0;
    margin-top: 2px;
    padding: 7px 10px;
    border: 1px solid #BDC7D8;
    border-radius: 4px;
    outline: none;
}
input[type="number"] {
    width: 150px;
    margin: 0;
    padding: 4px 3px;
    border: 1px solid #BDC7D8;
}
input[type="file"] {
    margin: 0px;
}
select {
    width: 320px;
    margin: 0;
    padding: 7px 10px;
    border: 1px solid #BDC7D8;
    border-radius: 4px;
    outline: none;
}
input[type="radio"],
input[type="checkbox"] {
    margin: 0 5px 2px 0;
}
.input-btn {
    margin: 0;
    padding: 10px 50px;
    border: 1px solid #FFF;
    background-color: #C32929;
    color: #FFF;
    font: bold 16px 'Oxygen', sans-serif;
    border-radius:5px;
    outline: none;
}
.input-btn.light {
    border: 1px solid #E5E5E5;
    background: #f4f4f4;
    color: #565656;
}
.input-btn:hover, .btn:hover {
    cursor: pointer;
}
.error {
    margin-top: 15px;
    color: #BE4B49;
    font: bold 12px 'Oxygen', sans-serif;
}
.error p {
    color: #BE4B49;
}

.bg-success,
.bg-danger,
.bg-info {
    margin: 20px 0;
    padding: 15px;
    color: #333;
    font: bold 13px 'Oxygen', sans-serif;
}
.bg-success {
    background-color: #dff0d8;
}
.bg-info {
  background-color: #d9edf7;
}
.bg-danger {
    background-color: #f2dede;
}
.bg-danger.checkout-login {
    width: 292px;
}
.bg-info.dev {
  width: 692px;
  line-height: 170%;
  font-weight: normal;
}


.product-categories {
    width: 380px;
    margin-top: 2px;
    padding: 10px;
    border: 1px solid #BDC7D8;
    border-radius: 4px;
}
.category-status {
    width: 300px;
    margin-top: 2px;
    padding: 7px 10px 2px 10px;
    border: 1px solid #BDC7D8;
    border-radius: 4px;
}
.category-status label {
    display: block;
    margin-bottom: 5px;
}
.product-categories label {
    display: block;
    margin-bottom: 5px;
}
.product-categories label:last-child {
    margin-bottom: 0;
}

.pagination {
    margin-top: 20px;
    font-size: 0;
}
.pagination a,
.pagination strong {
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #DDD;
    font: normal 13px 'Oxygen', sans-serif;
    color: #961313;
}
.pagination strong {
    color: #555;
}


/*product images in backend*/

.product-images {
    margin: 30px 0;
    padding-top: 20px;
    border-top: 1px solid #DDD;
}
.product-image {
    position: relative;
    width: 150px;
    height: 150px;
    float: left;
    margin: 0 20px 20px 0;
    border: 1px solid #DDD;
    background-color: #FFF;
    text-align: center;
}
.product-image-delete {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
.product-image-delete a {
    display: block;
    padding-top: 10px;
    font: bold 12px 'Oxygen', sans-serif;
    color: #FFF;
}
.product-image img {
    max-width: 150px;
    max-height: 150px;
}
.page-data {
    font: normal 14px 'Oxygen', sans-serif;
    line-height: 150%;
}

/*category products listing*/

.product-item {
    width: 150px;
    height: 255px;
    overflow: hidden;
    float: left;
    margin: 0 10px 20px 0;
}
.product-cover {
    width: 148px;
    height: 148px;
    border: 1px solid #DDD;
    text-align: center;
}
.product-cover img {
    max-width: 148px;
    max-height: 148px;
}
.product-info {
    margin-top: 7px;
}
.product-title {
    margin-bottom: 6px;
    text-align: center;
}
.product-price {
    font: bold 15px 'Oxygen', sans-serif;
    text-align: center;
    color: #961313;
}
.product-price .original-price {
    display: inline-block;
    margin-left: 4px;
    font: normal 12px 'Oxygen', sans-serif;
    text-decoration: line-through;
    color: #666;
}
.product-price .savings {
    display: inline-block;
    margin-left: 4px;
    font: normal 12px 'Oxygen', sans-serif;
    color: green;
}

/*product main page*/

.px-page {
    margin-top: 20px;
}
.px-cover {
    width: 250px;
    float: left;
    margin-right: 25px;
}
.px-cover img {
    border-radius: 3px;
    min-width: 250px;
    max-width: 250px;
}
.px-info {
    width: 685px;
    float: left;
}
.px-info h1 {
    margin: -5px 0 5px 0;
}
.px-author {
    font: normal 12px 'Oxygen', sans-serif;
    color: #888;
}
.px-author-name {
    color: #961313;
}
.px-price {
    width: 300px;
    float: left;
    margin: 25px 0;
}
.px-actions {
    width: 300px;
    float: left;
    margin: 25px 0 0 20px;
}
.px-actions li {
    margin-bottom: 7px;
}
.px-original-price {
    margin-bottom: 7px;
    font: bold 15px 'Oxygen', sans-serif;
    text-decoration: line-through;
    color: #888;
}
.px-original-price .savings {
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
    color: green;
    font: normal 15px 'Oxygen', sans-serif;
}
.px-sale-price {
    font: bold 25px 'Oxygen', sans-serif;
    color: #961313;
}
.px-status {
    font: normal 13px 'Oxygen', sans-serif;
    color: #6bad50;
}
.px-readable {
    margin: 15px 0;
}
.px-readable a {
    font: normal 12px 'Oxygen', sans-serif;
    line-height: 170%;
    color: #444;
}
.px-checkout-btn {
    margin: 35px 0;
}
.px-checkout-btn a {
    margin: 0;
    padding: 10px 50px;
    border: 1px solid #FFF;
    background-color: #C32929;
    color: #FFF;
    text-transform: uppercase;
    font: bold 16px 'Oxygen', sans-serif;
    border-radius: 5px;
    outline: none;
}
.px-checkout-btn a:hover {
    background-color: #C43232;
}
.px-summary {
    width: 400px;
    float: left;
    margin-right: 20px;
    font: normal 13px 'Oxygen', sans-serif;
    line-height: 170%;
}
.px-details {
    margin-bottom: 20px;
    font: normal 13px 'Oxygen', sans-serif;
    line-height: 170%;
}
.px-details p {
    margin: 15px 0;
}
.px-summary h2,
.px-details h2,
.px-related h3 {
    margin-bottom: 8px;
    font: bold 14px 'Oxygen', sans-serif;
    color: #666;
}
.px-related h3 {
    font: bold 13px 'Oxygen', sans-serif;
    margin-bottom: 15px;
}
.px-gallery-summary {
    margin: 25px 0 15px 0;
}
.px-gallery {
    width: 495px;
    float: left;
}
.px-gallery-img {
    width: 98px;
    height: 98px;
    border: 1px solid #EEE;
    float: left;
    margin: 0 15px 15px 0;
    text-align: center;
}
.px-gallery-img img {
    max-width: 98px;
    max-height: 98px;
}
.px-tags {
    padding: 7px 0;
    font: normal 12px 'Oxygen', sans-serif;
    color: #888;
}

/*shopping cart style*/

.cart-item-image {
    width: 68px;
    height: 68px;
    float: left;
    border: 1px solid #EEE;
    text-align: center;
}
.cart-item-name {
    width: 500px;
    margin-left: 40px;
    float: left;
    font: bold 14px 'Oxygen', sans-serif;
}
.cart-item-image img {
    max-height: 68px;
}
.cart td {
  padding: 15px 10px;
}
.cart td,
.cart th {
    border-bottom: 1px solid #EEE;
}
.cart input[type="text"].qty {
    width: 25px;
    text-align: center;
}
.cart td.right,
.cart th.right {
    text-align: right;
}
.cart td {
    vertical-align: top;
}
.cart td.last {
    border-bottom: 0;
    font: bold 20px 'Oxygen', sans-serif;
    color: #555;
}
.cart-item-remove {
    margin-top: 12px;
    width: 45px;
    padding: 1px 3px 3px 3px;
    background-color: #F6F4F5;
    border: 1px solid #C8C8C8;
    border-radius: 3px;
    text-align: center;
}
.cart-item-remove a {
    font: normal 10px 'Oxygen', sans-serif;
    color: #666;
}
.cart-param {
    float: left;
}
.cart-item-sale-price {
    font: bold 16px 'Oxygen', sans-serif;
    margin-bottom: 10px;
}
.cart-item-original-price {
    text-decoration: line-through;
    color: #444;
}
.cart-item-savings {
    margin-top: 7px;
    font: normal 13px 'Oxygen', sans-serif;
    color: green;
}
.checkout {
    margin: 35px 0;
    text-align: right;
}

/*checkout form*/

.ex-customer,
.new-customer {
    width: 400px;
    float: left;
}
.ex-customer {
    width: 550px;
}
.ex-customer.logged-in {
    width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    float: none;
}
.checkout-header {
  min-width: 800px;
  padding: 0 20px;
  height: 35px;
  margin-bottom: 40px;
  background: transparent url('../images/top_header.png') 0 0 repeat-x;
}
.checkout-header-logo {
  width: 800px;
  margin: 0 auto;
}
.checkout-header img {
  height: 15px;
  margin: 10px 0;
}
.billing-address label{
    display: block;
    margin-top: 12px;
}
#new-billing-adress-form {
    display: none;
}
.item-summary .cart {
    width: 480px;
    margin: 20px 0;
}
.logged-in .item-summary .cart {
    width: 100%;
}
.item-summary .cart td {
    padding: 5px 10px;
}
.item-summary .cart td.last {
    font: bold 15px 'Oxygen', sans-serif;
}
.payment-methods {
    margin: 20px 0;
    text-align: center;
}
.order-terms {
    margin: 15px 0;
    text-align: center;
    font: normal 12.5px 'Oxygen', sans-serif;
    color: #777;
}
.cancel-order {
  margin-top: 40px;
  text-align: center;
}
.payment-center-btn {
    margin: 40px 0 10px 0;
    text-align: center;
}
.dash-header {
    margin: 15px 0;
    font: bold 12.5px 'Oxygen', sans-serif;
    color: #777;
}
.my-orders .dash-header {
    margin-top: 50px;
}
.top-header-links li a.profile-link {
  font-weight: normal;
  font-size: 13px;
}


/*modal window*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 500;
    background-color: rgba(0,0,0,0.5);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
.modal-content {
    width: 100%;
    margin: 0 auto;
}
.modal-content.forgot-pwd {
    width: 385px;
    height: 195px;
    margin-top: 14%;
    border-radius: 4px;
    background-color: #FFF;
}
.forgot-pwd .form {
    padding: 30px;
}
.ajax-success {
    margin-top: 15px;
    color: green;
}